//Font
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary:       #dc3545 !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// scss-docs-start theme-color-variables

$white-color:   #fff;
$grey-color:    #ced4da;
$black-color:   #3f4450;
$side-nav-width:  250px;

$body-font: 'Nunito', sans-serif;

body, html, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white-color;
    text-align: left;
    font-family: $body-font;
}

a {
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: none;
}

.btn {
    border: none;
    font-size: 16px !important;
    box-shadow: none !important;
}    

.login-component {
    .bi.bi-cloud-arrow-down-fill {
        font-size: 95px;
        color: red;
    }
}

.forgot-password-component {

    .btn {
        min-width: 150px;
        font-size: 16px;
    }    

}

.register-component {
    .btn {
        min-width: 150px;
        font-size: 16px;
    }    
}

.verify-email-component {
    .btn {
        min-width: 150px;
        font-size: 16px;
    }    
}

nav.side-nav{
    width: $side-nav-width;
    height: 100%;
    padding: 0px 15px;
    position: fixed;

    .app-name {
        border-bottom: 1px solid $white-color;
        padding: 15px 0px 15px 0px;
        .navbar-brand {
            width: calc($side-nav-width - 30px) !important;
            color: $primary;

            .bi {
                font-size: 22px;
                padding: 12px;
            }
        }
    }
    
    ul, li, a {
        width: calc($side-nav-width - 30px) !important;
        padding: 0;      
    }

    ul {
        li {            
            a.nav-link {
                padding: 10px !important;
                color: $black-color;
                font-weight: 600;
                .bi {
                    margin-right: 15px;
                }                
            }
            a.nav-link:hover,
            a.nav-link .bi:hover {
                color: $primary !important;
            }            
        }                       
    }
}

main.app-main {
    margin: 20px;
    width: 100%;
    margin-left: calc($side-nav-width + 20px);

    p {
        margin: 0px;
    }

    a .bi {
        padding: 0px 7px 0 0px;
        font-weight: 600;
    }

    button.btn, a.btn {
        font-weight: 400;
    }

    .page-header {
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid $grey-color;
        margin-bottom: 15px;
        .title {
            margin-left: 10px;
        }

        .dropdown-menu {
            min-width: 17rem;
        }

        hr {
            margin: 0px;
        }

        .bi {
            font-size: 22px;    
            margin-top: 10px;
            cursor: pointer;
            color: $black-color;
        }

        span {
            margin-top: -5px;
        }

        .profile-menu {
            
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 0px 0px 0px 15px;
            padding: 0px;

            .bi { 
                color: $white-color;
                vertical-align: middle;
            }
        }

        .profile-image {
            background-color: #dc3545;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 6px 15px 0px 0px;    
            vertical-align: middle;        
        }
    }

    .app-content {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .priority-maintenance {
        border-left: 3px solid $primary;
    }

    .maintenance-item-action {
        .dropdown-toggle {
            .bi {
                font-weight: 400;
                font-size: 30px;
                color: $primary;
            }
        }
    }

    .maintenance-item-action .dropdown-toggle::after {
        content: none;
    }
}
